<HTML lang="eng" data-bs-theme="dark">

<%= image_tag("Nick.jpg", id: "Headshot") %>
<h1 class="display-2">Nick Essery</h1>
<p class="lead">
  I am Nick Essery, a current sophomore at Connecticut College majoring in computer science. I have a particular interest in software and audio design, and plan on focusing on these two fields during my time at school.
</p>
