<HTML lang="eng" data-bs-theme="dark">
<h1 class="display-4">My Computer Science Class Portfolio</h1>
        <div class="container-lg">
            <p class="fs-2">Data Structures</p>
            <p id = "fs3">
                In this class, I learned the basics of different data structures, such as lists, heaps, stacks, and more. 
                <br>
                We then utilized what we had learned to create these different structures using java.
                <br>
                After this point, we took the code we had made and used them in tangent with eachother to build a website that worked entirely off of data structures.
                <br>
                Our website was a film database, that contained fake films with all their information, and had an account creation proccess and login.
            </p>
            <hr class="my-4">
            <p class="fs-2">Computer Organization</p>
            <p id = "fs3">
                Computer Organization had a larger focuss on the interactivity of computers, learning more about the lower level processes.
                <br>
                This included a wide variety of topics, all of which are included in the linked doc shared below
                <br>
                I also created a final project for this class, a microwave in IJVM assembly code.
                <br>
                IJVM acted as an intro to the assembly language, and this project aimed at learning how assembly worked.
                <br>
                <a href="https://docs.google.com/document/d/1y1WbIvZWndgiM2wk2X-fBE0vVO5RbL85Gfx_jsn011k/edit?usp=sharing">My cumulative journal</a>
                <br>
                <br>
                Here is a picture of the assembly program, the user inputs a number and the microwave runs for the input amount of time, utilizing a delay.
                <br>
                <%= image_tag("Microwave.png", id: "Microwave") %>
            </p>
            <hr class="my-4">
            <p class="fs-2">Link to more of my work</p>
            <p id = "fs3"> 
              If you would like to view any of my projects, click the button below to view my google drive
            </p>
            <a type="button" class="btn btn-primary btn-sm" href = "https://drive.google.com/drive/folders/1gYCORShkvmwW2l3fuX4_A5lDnsFQK2H5?usp=drive_link" role = "button"><i class="fa-solid fa-folder-open"></i> Google Drive Portfolio</a>
            <br>
            <br>
        </div>

 